<link rel="stylesheet" type="text/css" href="<{$block.csspath}>/umfrage.css">

<{foreach item=poll from=$block.polls}>
<{if $poll.expired eq 1}>
  <table class="outer" cellspacing="1">
    <tr>
      <td align="center" colspan="3"><input type="hidden" name="poll_id" value="<{$poll.id}>"><div id="pollheader"><{$poll.question}></div></td>
    </tr>

    <{foreach item=option from=$poll.options}>
    <tr class="<{cycle values="polleven,pollod"}>">
      <td align="left">&nbsp;*&nbsp;</td>
      <td align="left"><{$option.text}></td>
      <td <{if $option.image != ''}>width="50%"<{/if}> align="left">
      <{$option.image}> <{$option.percent}>
      </td>
    </tr>
    <{/foreach}>

	<{if $poll.polltype ne 2}>
    <tr>
      <td class="pollfooter" align="center" colspan="2"><input type="button" value="<{$poll.lang_result}>" onclick="location='<{$xoops_url}>/modules/umfrage/pollresults.php?poll_id=<{$poll.id}>'"></td>
    </tr>
	<{/if}>
    <tr>
      <td class="pollfooter" align="left" colspan="2"><{$block.lang_expiredon}> <{$poll.poll_end}></td>
    </tr>
  </table>
<{else}>

  <form style="margin-top: 1px;" action="<{$xoops_url}>/modules/umfrage/index.php" method="post">
  <table class="outer" cellspacing="1">
    <tr>
      <td align="center" colspan="2"><input type="hidden" name="poll_id" value="<{$poll.id}>"><div id="pollheader"><{$poll.question}></div></td>
    </tr>

    <{foreach item=option from=$poll.options}>
    <tr class="<{cycle values="polleven,pollodd"}>">
	<{if ! $poll.hasVoted && ! $block.notregistered}>
	      <td align="center"><label>
              <input type="<{$poll.option_type}>" name="<{$poll.option_name}>" value="<{$option.id}>">
          </label></td>
	<{else}>
		<td align="left">*&nbsp;</td>
	<{/if}>
      <td align="left"><{$option.text}></td>
    </tr>
    <{/foreach}>

    <tr>
      <td class="pollfooter" align="center" colspan="3">
<{if $block.notregistered eq 1}>
<{$block.lang_onlyregistered}>
<{else}>
<{if $poll.hasVoted eq 0}>
	   <input type="submit" value="<{$block.lang_vote}>">
 <{else}>
<{$block.lang_alreadyvoted}>
<{/if}>
<{/if}>
   <{if $poll.polltype eq 1}>
      <br><input type="button" value="<{$poll.lang_result}>" onclick="location='<{$xoops_url}>/modules/umfrage/pollresults.php?poll_id=<{$poll.id}>'">
   <{/if}>
</td>
    </tr>
   <tr><td colspan="3">
   <{$block.lang_expiration}> <{$poll.poll_end}>
   </td></tr>
  </table>
  </form>
<{/if}>
<{/foreach}>
